name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, beta]

env:
  CARGO_TERM_COLOR: always

jobs:
  rust-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "1.91.0"
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2

      - name: Format Check
        run: cargo fmt -- --check

      - name: Lint
        run: cargo clippy --all-targets -- -D warnings

      - name: Build
        run: cargo build --verbose

      - name: Test
        run: cargo test --workspace --verbose
